body {
    margin: 10px;
}

#main_body {
    background-image: url(../../Content/images/bg.jpg);
}

#wrapper {
    width: 1100px;
    height: auto;
    margin: auto;
}

#header {
    width: 100%;
    height: auto;
}

    #header img {
        width: 99%;
        border: 5px double #8dc73f;
    }

.separator {
    width: auto;
    height: 10px;
    background-color: #8dc73f;
}

#receipt {
    text-align: center;
    width: 300px;
    height: auto;
    border: 1px dashed black;
}

#content {
}

#info {
    margin: 10px 10px;
}

#footer {
    width: 80%;
    margin: 5px 0;
    height: 70px;
}

hr {
    color: #8dc73f;
}

.rec_hr {
    color: black;
}

/*Text*/
a, a:visited {
    color: black;
    text-decoration: none;
}

#footer {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

/*Tables*/
table {
    border-spacing: 10px;
}

/*Forms*/
form {
}

.grocery_list {
    width: 90%;
}

input[type=submit] {
    background-color: #8dc73f;
    color: black;
    height: 40px;
    width: 100%;
    float: left;
}

input img {
    height: 10px;
}
